---
import {Image} from 'astro:assets';
const {display, image} = Astro.props;
---

<div class="flex flex-col gap-1 items-center justify-center">
    <div class="technology flex flex-col gap-1 items-center">
        <Image draggable="false"
             height="48px"
             width="48px"
             src={image}
             alt={display}
             title={display}/>
        <h4 class="font-bold text-sm">{display}</h4>
    </div>
</div>
