---
import BaseHead from '../components/misc/BaseHead.astro';
import Navbar from '../components/navbar/Navbar.astro';
import {Image} from 'astro:assets';
const {title, description, image} = Astro.props;
const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
</head>
<body>
<main class="flex flex-col large:justify-center items-center h-full">
    <div class="flex large:flex-row small:flex-col max-h-196">
        <Navbar/>

        <div class="flex large:flex-row small:flex-col items-center large:w-full small:gap-5 large:gap-0">
            <div class="large:ml-5 small:mt-5 large:mt-0 flex flex-col justify-between background rounded-lg flex-shrink-0 large:h-full large:w-auto small:w-full shadow-lg shadow-black z-10">
                <div class="flex flex-col items-center rounded-lg mb-5 small:mt-5 large:mt-0">
                    <Image class="max-w-xs w-max rounded-lg" src={image} alt="Geri's avatar" loading="eager"/>
                    <slot name="sidebar-head" />
                </div>
                <div class="flex flex-col justify-center">
                    <slot name="sidebar-foot"/>
                    <span class="text-xs text-center mb-5">© geri.dev - {currentYear}</span>
                </div>
            </div>

            <slot name="main"/>
        </div>
    </div>
</main>
</body>
</html>
